@mixin before_circle {
    &:before {
        position: absolute;
        top: -25%;
        left: 0;
        z-index: -1;
        content: '';
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
    }
}

@mixin label {
    label {
        position: absolute;
        top: -9px;
        left: 12px;
        display: block;
        height: 18px;
        margin-bottom: 0;
        padding: 0 8px;
        background: #fff;
        font-size: 12px;
    }
}