* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0D0D0D;
  text-transform: uppercase;
}
.title_left {
  color: #fff;
  text-align: left;
  font-size: 36px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px;
  background: url(../img/main.jpg) center center/cover no-repeat;
}
.promo__wrapper {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promo__header {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto 20px;
}
.promo__link {
  margin-top: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.promo__link a {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}

.advantages {
  background-color: #F6F6F6;
  padding: 70px 0;
}
.advantages__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item {
  width: 270px;
  text-align: center;
}
.advantages__subheader {
  margin-top: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #0D0D0D;
}
.advantages__text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #0D0D0D;
}
.advantages__text span {
  font-weight: 300;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF0000;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px;
  background: url(../img/consultation.jpg) center center/cover no-repeat;
}
.consultation__descr {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  width: 750px;
  margin: 0 auto;
}
.carousel .prev, .carousel .next {
  position: absolute;
  top: 50%;
  left: -66px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
}
.carousel .prev img, .carousel .next img {
  width: 31px;
  height: 50px;
}
.carousel .next {
  left: auto;
  right: -66px;
}
.carousel .tns-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 800px;
  }

  .title_left {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 650px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__header {
    font-size: 35px;
  }
  .promo__subheader {
    font-size: 18px;
  }

  .advantages__wrapper {
    margin-top: 30px;
  }
  .advantages__item {
    width: 200px;
  }
  .advantages__subheader {
    margin-top: 20px;
    font-size: 14px;
  }
  .advantages__text {
    font-size: 11px;
  }

  .consultation {
    min-height: 100%;
    padding: 70px 0;
  }
  .consultation__descr {
    font-size: 13px;
  }

  .title {
    font-size: 25px;
  }
  .title_left {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  .header__logo {
    width: 120px;
  }
  .header__official {
    font-size: 7px;
  }
  .header__official span {
    font-size: 12px;
  }
  .header__phone {
    font-size: 12px;
  }

  .button {
    width: 100px;
    height: 20px;
    font-size: 9px;
  }
  .button_main {
    margin-top: 40px;
    width: 200px;
    height: 30px;
    font-size: 12px;
  }
  .button_submit {
    width: 100%;
    height: 30px;
  }

  .promo {
    min-height: 100%;
    padding-bottom: 50px;
  }
  .promo__wrapper {
    margin-top: 60px;
  }
  .promo__header {
    font-size: 28px;
  }
  .promo__subheader {
    margin-top: 0;
    font-size: 14px;
  }
  .promo__icons {
    margin-top: 40px;
  }
  .promo__icon {
    font-size: 12px;
  }
  .promo__icon img {
    width: 35px;
    margin-bottom: 10px;
  }
  .promo__link {
    margin-top: 12px;
    font-size: 12px;
  }

  .advantages {
    padding: 30px 0;
  }
  .advantages__item {
    width: 150px;
  }
  .advantages__subheader {
    margin-top: 10px;
    font-size: 12px;
  }
  .advantages__text {
    font-size: 8px;
  }
  .advantages__text span {
    font-size: 10px;
  }

  .consultation {
    padding: 50px 0;
    text-align: center;
  }

  .feed-form {
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 18px;
  }
  .title_left {
    text-align: center;
  }

  .prev, .next {
    display: none;
  }

  .carousel {
    padding: 30px 0;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 280px;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .header__logo {
    width: 200px;
    height: 40px;
  }
  .header__logo img {
    height: 100%;
  }
  .header__official {
    font-size: 12px;
  }
  .header__official span {
    font-size: 14px;
  }
  .header__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__wrapper {
    margin-top: 20px;
  }
  .promo__header {
    font-size: 20px;
  }
  .promo__subheader {
    text-align: center;
  }
  .promo__icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
    width: 80%;
  }
  .promo__icon {
    width: 25%;
    font-size: 7px;
  }
  .promo__link {
    margin-top: 5px;
    font-size: 9px;
  }

  .advantages__wrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item {
    margin-top: 15px;
    width: 75%;
  }
  .advantages__subheader {
    font-size: 15px;
  }
  .advantages__text {
    margin-top: 5px;
    font-size: 11px;
  }

  .consultation {
    padding: 20px 0;
  }
  .consultation__descr {
    font-size: 10px;
  }

  .feed-form {
    width: 75%;
    margin: 18px auto 0;
  }
  .feed-form input {
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 10px;
  }

  .title {
    font-size: 14px;
  }
  .title_left {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */